[Desktop Entry]
Type=Application
Name=Rustty
GenericName=Remote Access Client
GenericName[es]=Cliente de acceso remoto
Comment=Connect to remote machines over SSH, SFTP and RDP
Comment[es]=Conecta con máquinas remotas por SSH, SFTP y RDP
Exec=rustty
Icon=es.rustty.Rustty
Terminal=false
Categories=Network;RemoteAccess;TerminalEmulator;
Keywords=SSH;SFTP;RDP;Terminal;Remote;tmux;
Keywords[es]=SSH;SFTP;RDP;Terminal;Remoto;tmux;
StartupNotify=true
StartupWMClass=Rustty
